body{
	font-family: 'Open', sans-serif;
	
}
h1{
	text-align: center;
	
	background-color: grey;
}
.done{
	text-decoration: line-through;
}
input{
	width:1000px; 
}
.liste{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.form{
	display:flex;
	justify-content: space-between;
}
.zobilamouche{
	display:flex;
	justify-content: space-around;
}
.add{
	background: purple;
	border: 2px solid blue;
	color:pink;
	width: 100px;
	height: 27px;

}
.add:hover{
	background: pink;
	color:purple	;

}
.check{
	background: purple;
	border: 2px solid blue;
	color:pink;	
}
.filtre{
	background: purple;
	border: 2px solid blue;
	color:pink;	
	width: 150px;
	height: 50px;
	font-family: arial;
	font-size: 1.5em;
}
